@import '../../../../styles.scss';

.forgot-password-screen {
	padding: 5% 0;
  .heading {
    h2 {
      color: $darkDefault;
        font-size: 20px;
        font-weight: 600;
    }
    p {
      color: $lightDefault;
      font-size: 15px;
      padding-top: 5px;
    }
  }
  .forgot-password-inputs {
    padding-top: 14%;
    .forgot-password-btn {
      padding-top: 10px;
    }
  }
  .reset-password-inputs {
    padding-top: 14%;
    .reset-password-btn {
      padding-top: 10px;
    }
  }
}

@media screen and (max-width: 600px)
{
  .login{
    .rounded-btn{
      width: 100%;
      height: auto;
    }
  }
}
