<div class="forgot-password-screen">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-4">
        <div class="heading">
          <h2>Forgot Your Password?</h2>
          <p>Enter your registerted email address</p>
        </div>
        <div class="forgot-password-inputs">
          <form [formGroup]="forgotPasswordProgramForm">
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" placeholder="Email" formControlName="email">
            </div>

            <div class="forgot-password-btn">
              <a class="rounded-btn">Send</a>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-4">
        <div class="heading">
          <h2>Reset Password</h2>
          <p>Enter your new password</p>
        </div>

        <div class="reset-password-inputs">
          <form [formGroup]="resetPasswordProgramForm">
            <div class="form-group">
              <label>Old Password</label>
              <input type="password" class="form-control" placeholder="Old Password" formControlName="oldPassword">
            </div>
            <div class="form-group">
              <label>New Password</label>
              <input type="password" class="form-control" placeholder="New Password" formControlName="newPassword">
            </div>
            <div class="form-group">
              <label>Confirm New Password</label>
              <input type="password" class="form-control" placeholder="Confirm New Password" formControlName="confirmNewPassword">
            </div>

            <div class="reset-password-btn">
              <a class="rounded-btn">Reset</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
