<div class="professional-track-screen">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-6">
        <div class="heading">
          <h2>Professional About / Track</h2>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-6">
        <div class="input-fields">

          <!-- about form -->
          <div class="about-form">
            <form [formGroup]="aboutProgramForm">
              <div class="form-group">
                  <label>Professional Title</label>
                  <input type="text" class="form-control" placeholder="Professional Title" formControlName="professionalTitle">
              </div>
              <div class="form-group">
                <label>About Us</label>
                <textarea class="form-control" rows="6" placeholder="About Us ..." formControlName="aboutUs"></textarea>
              </div>
              <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" placeholder="Email" formControlName="email">
            </div>
            <div class="form-group">
              <label>Contact/Phone</label>
              <input type="number" class="form-control" placeholder="Phone" formControlName="phone">
          </div>
            </form>
          </div>

          <!-- education form -->
          <div class="border-bottom pb-2">
            <app-education (getEducations)="onGetEducations($event)"></app-education>
          </div>

          <!-- experience form -->
          <div class="border-bottom pb-2">
            <app-experience (getExperiences)="onGetExperiences($event)"></app-experience>
          </div>

          <!-- certifications form -->
          <div class="border-bottom pb-2">
            <app-certification (getCertifications)="onGetCertifications($event)"></app-certification>
          </div>

          <!-- Skills form -->
          <div class="border-bottom pb-2">
            <app-skills (getSkills)="onGetSkills($event)"></app-skills>
          </div>

          <div class="done-btn pt-4">
            <a class="rounded-btn">Update Profile</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
