.add-img {
  text-align: center;
  cursor: pointer;
  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 0 10px #e7e7e7;
    border-radius: 30px;
  }
}
