@import '../../../styles.scss';

.homepage-screen {
  height: 100vh;
  display: flex;
  align-items: center;
  .field-btns {
    text-align: center;
  }
  .new-account {
    span {
      color: $lightDefault;
      font-size: 15px;
    }
    a {
      font-weight: 600;
      font-size: 16px;
      padding-left: 3px;
    }
  }
}
