<div class="certifications pt-3">
  <div class="bio-track-section">
    <div class="avatar w-25">
      <app-image-uploader [isReset]="isCertificationReset" (previewImage)="onImageCertificationPreview($event)"></app-image-uploader>
    </div>
    <div class="right-area w-75">
      <form [formGroup]="certificationsProgramForm">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Certification" formControlName="certification">
        </div>
        <div class="date-area">
          <input type="date" formControlName="startDate">
          <input type="date" formControlName="endDate">
        </div>
        <a class="add-more" (click)="onChangeCertification()">
          <i class="fas fa-plus-circle"></i>
        </a>
      </form>
    </div>
  </div>
</div>

<!-- <div class="card mt-3" *ngFor="let item of certifications">
  <div class="card-body p-3">
    <h5>{{item.certification}}</h5>
    <p>{{item.companyName}}</p>
    <p>{{item.startDate | date: 'longDate'}} - {{item.endDate | date: 'longDate'}}</p>
  </div>
</div> -->
