<div class="view">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12">
        <div class="heading">
          <h2>Professional Title,</h2>
          <p>Text of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy text ever
            when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived
            not only five centuries, but also the leap into electronic type setting, remaining essentially unchanged.
          </p>
        </div>
      </div>
    </div>

    <div class="detail">
      <div class="row">
        <div class="col-12">
          <h2>Education</h2>
        </div>
        <div class="col-12 col-md-6 col-lg-3" *ngFor="let item of educations">
          <div class="card">
            <img src={{item.image}}>
            <p>{{item.university}}</p>
            <h6>{{item.degree}}</h6>
            <p>{{item.date}}</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <h2>Experience</h2>
        </div>
        <div class="col-12 col-md-6 col-lg-3" *ngFor="let item of experiences">
          <div class="card">
            <img src={{item.image}}>
            <p>{{item.stack}}</p>
            <h6>{{item.office}}</h6>
            <p>{{item.date}}</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <h2>Licenses & Certifications</h2>
        </div>
        <div class="col-12 col-md-6 col-lg-3" *ngFor="let item of certifications">
          <div class="card">
            <img src={{item.image}}>
            <p>{{item.name}}</p>
            <h6>{{item.company}}</h6>
            <p>{{item.date}}</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <h2>Volunteering & Skills</h2>
        </div>
        <div class="col-12 col-md-6 col-lg-3" *ngFor="let item of projects">
          <div class="card">
            <img src={{item.image}}>
            <p>{{item.name}}</p>
            <h6>{{item.company}}</h6>
            <p>{{item.stack}}</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <h2>Contact</h2>
          <div class="contact">
            <p class="pt-3"><i class="fas fa-globe"></i> www.websitedummy.com</p>
            <p><i class="fas fa-envelope"></i> Sample123@gmail.com</p>
            <p><i class="fas fa-phone-alt"></i> +92 33021888660</p>
            <p><i class="fas fa-map-marker-alt"></i> House No. B-15 Street 3 Karachi,Pakistan</p>
          </div>
        </div>
      </div>

    </div>
  </div>

