<div class="view" *ngIf="data">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12">
        <div class="heading">
          <h1>{{data.name}}</h1>
          <h2 class="pt-5">Professional Title,</h2>
          <p>{{data.professionalTitle}}</p>
        </div>
      </div>
    </div>

    <div class="detail">
      <div class="row">
        <div class="col-12">
          <h2>Education</h2>
        </div>
        <div class="col-12 col-md-6 col-lg-3" *ngFor="let item of data.educations">
          <div class="card">
            <img src={{item.image}}>
            <p>{{item.universityName}}</p>
            <h6>{{item.degree}}</h6>
            <p>{{item.startDate | date: 'longDate'}} - {{item.endDate | date: 'longDate'}}</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <h2>Experience</h2>
        </div>
        <div class="col-12 col-md-6 col-lg-3" *ngFor="let item of data.experiences">
          <div class="card">
            <img src={{item.image}}>
            <p>{{item.designation}}</p>
            <h6>{{item.companyName}}</h6>
            <p>{{item.startDate | date: 'longDate'}} - {{item.endDate | date: 'longDate'}}</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <h2>Licenses & Certifications</h2>
        </div>
        <div class="col-12 col-md-6 col-lg-3" *ngFor="let item of data.certifications">
          <div class="card">
            <img src={{item.image}}>
            <p>{{item.certification}}</p>
            <h6>{{item.companyName}}</h6>
            <p>{{item.startDate | date: 'longDate'}} - {{item.endDate | date: 'longDate'}}</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <h2>Volunteering & Skills</h2>
        </div>
        <div class="col-12 col-md-6 col-lg-3" *ngFor="let item of data.skills">
          <div class="card">
            <!-- <img src={{item.image}}> -->
            <!-- <p>{{item.name}}</p> -->
            <h6>{{item.name}}</h6>
            <!-- <p>{{item.startDate}} - {{item.endDate}}</p> -->
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <h2>Contact</h2>
          <div class="contact">
            <p class="pt-3"><i class="fas fa-globe"></i> {{data.website}}</p>
            <p><i class="fas fa-envelope"></i> {{data.email}}</p>
            <p><i class="fas fa-phone-alt"></i> {{data.phone}}</p>
            <p><i class="fas fa-map-marker-alt"></i> {{data.address}}</p>
          </div>
        </div>
      </div>

    </div>
  </div>

