<div class="interest-hobbies">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="heading">
          <h2>Student</h2>
          <p>Professional Interest and Hobbies!</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="search-bar">
          <app-search-bar></app-search-bar>
        </div>
      </div>
    </div>
    <div class="small-card">
      <div class="row">
        <div class="col-6 col-md-4 col-lg-2"
          *ngFor="let item of data.interestHobbies"
          (click)="onSelect(item)"
        >
          <div class="inner-card" [ngClass]="{'active': selected.includes(item)}">
            <h6>{{item.text}}</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="next-btn pt-4">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-5">
          <a class="rounded-btn" (click)="onNext()">Next</a>
        </div>
      </div>
    </div>
  </div>
</div>
